#Ignore Python cache
__pycache__/
*.py[cod]

.venv\
.idea

#Ignore environment files
.env

image/

data/raw

ml_analysis/notebooks
ml_analysis/notebooks/.ipynb_checkpoints
ml_analysis/models
ml_analysis/model

data_extractor