playwright
pandas
psycopg2
python-dotenv
sqlalchemy
jupyterlab
scikit-learn
shap
pydantic
fastapi
uvicorn[standard]
langgraph
langchain_core
langgraph-checkpoint-postgres
psycopg[binary,pool]

pytest
pytest-asyncio

Authlib
python-jose
itsdangerous

matplotlib
seaborn
lightgbm


